.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.containerGrid {
    display: grid;
    grid-template-columns: 70% 30%;
}

body {
    background-color: black;
    color: blue;
}

.mapSide {

}

.statSide {

}