@tailwind base;
@tailwind components;
@tailwind utilities;

.PlanesOverallHeader {
	display: block;
}

.statsSide {
	border: solid white;
	border-width: 3px;
	border-radius: 25px;
}

.TheMap {
	opacity: 0.8;
	border-radius: 25px;
	height: 75vh;
}

.planeIconNoZoom {
	color: lime;
	cursor: pointer;
	transition: 2s;
}

.planeIconZoom {
	color: yellow;
	font-size: 40px;
	cursor: pointer;
	transition: 2s;
}

@media screen and (max-width: 1017px) {
	.containerGrid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 10% 60% 30%;
		column-gap: 25px;
		grid-template-areas:
			"."
			"mapside"
			"statside";
	}

	.statsSide {
		border-style: solid;
		border-width: 2px;
		border-color: white;
		border-radius: 25px;
	}

	.PlanesOverallHeader {
		display: none;
	}
}

body {
	font-family: monospace;
	background: linear-gradient(to right, darkblue, blue, lightblue);
}
