@tailwind base;
@tailwind components;
@tailwind utilities;

.planeTabButton {
	border-radius: 5px;
	border-color: lime;
	width: 100%;
	background-color: lime;
	height: 30px;
	color: grey;
}

.planeTabButton:hover {
	cursor: pointer;
	z-index: 3;
	transform: perspective(900px) translate3d(0px, 0px, 60px);
}

.specificPlane {
	display: none;
}

.btnResume {
	width: 85%;
	border-radius: 8px;
	background-color: lime;
	border-color: lime;
	height: 40px;
	opacity: 0.7;
	transform: perspective(900px) rotateZ(-5deg);
}

.btnResume:hover {
	width: 85%;
	border-radius: 8px;
	z-index: 300;
	opacity: 1;
	cursor: pointer;
	transform: perspective(900px) rotateZ(0deg);
	transform: 3s;
}

@media screen and (max-width: 780px) {
	.btnResume {
		width: 95%;
		border-radius: 8px;
		background-color: lime;
		border-color: lime;
		height: 40px;
		opacity: 1;
		transform: perspective(900px) rotateZ(0deg);
	}
}

.thePlaneTimer {
	display: none;
}
.theTimeDisplay {
	color: lime;
}
