@tailwind base;
@tailwind components;
@tailwind utilities;

.specificPlane {
	display: none;
}

.btnResume {
	width: 85%;
	border-radius: 8px;
	background-color: lime;
	border-color: lime;
	height: 40px;
	opacity: 0.7;
	transform: perspective(900px) rotateZ(-5deg);
}

.btnResume:hover {
	width: 85%;
	border-radius: 8px;
	z-index: 300;
	opacity: 1;
	cursor: pointer;
	transform: perspective(900px) rotateZ(0deg);
	transform: 3s;
}

@media screen and (max-width: 1017px) {
	.btnResume {
		width: 95%;
		border-radius: 8px;
		background-color: lime;
		border-color: lime;
		height: 40px;
		opacity: 1;
		transform: perspective(900px) rotateZ(0deg);
	}
}

.thePlaneTimer {
	display: none;
}
